.vscode
build/
*.dll
instant-ngp-old/
instant-ngp/data/nerf/fox/rgba_slices/
instant-ngp/data/nerf/lego/
instant-ngp/data/undefault_nerf_data/
Benchmark/
Benchmark/*.meta
instant-ngp/colmap.db-shm
instant-ngp/colmap.db-wal
instant-ngp/data/nerf/moteur/ 
instant-ngp/data/nerf/oculus/ 
instant-ngp/data/nerf/oculus2/ 
instant-ngp/data/nerf/tasse_psg/ 
instant-ngp/build/ 
stereo-nerf-unity/Assets/Plugins/x86_64/*.dll 
